<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Text Analytics Web App</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    
<body>
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
            </div>
    </div>    
</nav>
    
<div class="container">
    <div class="jumbotron text-light bg-dark">
        <h1>Pulling out text insights</h1>
        <p class="lead">This app is for taking raw data csv data from the digsite formatter macro and pulling out topics and summaries.</p>
        <p><a href="practice.html" class="btn btn-success btn-lg">Get started today</a></p>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h2>HTML</h2>
            <p>HTML is the standard markup language for describing the structure of the web pages. Our HTML tutorials will help you to understand the basics of latest HTML5 language, so that you can create your own web pages or website.</p>
            
            <form action="/action_page.php">
              <label for="myfile">Select a file:</label>
              <input type="file" id="myfile" name="myfile" multiple><br><br>
              <input type="submit" class="btn btn-success">
            </form>
        </div>

        <div class="col-md-4">
            <h2>Bootstrap</h2>
            <p>Bootstrap is a powerful front-end framework for faster and easier web development. Our Bootstrap tutorials will help you to learn all the features of latest Bootstrap 4 framework so that you can easily create responsive websites.</p>
 
            <form method=post enctype=multipart/form-data>
                <label for="myfile">Select a file:</label>
                <input type=file name=file><br><br>
                <input type="submit" value="Upload" class="btn btn-success">
            </form>
        </div>
        
        <div class="col-md-4">
            <form method=post action="/">
                <label for="myfile">Select a file:</label>
                <input type="month" name=file><br><br>
                <input type="submit" value="Upload" class="btn btn-success">
            </form>
        </div>
    </div>
    
    <hr>
    
    <footer>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright © 2020</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#" class="text-dark">Terms of Use</a> 
            </div>
        </div>
    </footer>
</div>
    
</body>
</html>